<!-- start custom footer snippets -->
<!-- ADSENSE UNIT -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8593183969129033"
     crossorigin="anonymous"></script>
<!-- Horizontal_unit -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8593183969129033"
     data-ad-slot="9045786434"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- end custom footer snippets -->